<div class="admin-nav">
  <h1>Admin</h1>
  <ul>
    <li class="nav-item
      <% if params[:controller] == 'admin/dashboard' && params[:action] == 'index' %>
            active
          <% end %>
      ">
      <%= link_to admin_path do %>
        <div>
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </div>
      <% end %>
    </li>

    <li class="nav-item">
      <div>
        <i class="fas fa-inbox"></i>
        Inbox
      </div>
      <%# if @unread_contacts.present? %>
        <div class="notification">
          <%#= @unread_contacts.size %>
          2
        </div>
      <%# end %>
    </li>

    <li class="nav-item has-options
      <% if params[:controller] == 'admin/ingredients' %>
        active
      <% end %>
    ">
      <div>
        Ingredients
      </div>
      <div class="options">
        <%= link_to admin_ingredients_path do %>
          <i class="fas fa-eye"></i>
        <% end %>

        <%= link_to new_admin_ingredient_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>

    </li>

    <li class="nav-item has-options
      <% if params[:controller] == 'admin/recipes' %>
        active
      <% end %>
    ">
      <div>
        Recipes
      </div>
      <div class="options">
        <%= link_to admin_recipes_path do %>
          <i class="fas fa-eye"></i>
        <% end %>

        <%= link_to new_admin_recipe_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </li>

  </ul>
</div>
