
<div class="admin-container">
  <% if params[:action] == 'new' %>
    <h1>Add An Ingredient</h1>
  <% else %>
    <h1>Edit Ingredient</h1>
  <% end %>

  <div class="dashboard-content">

    <%= simple_form_for([:admin, @ingredient], html: { class: 'admin-form ingredient-form' }) do |f| %>
      <div class="form-group">
        <%= f.input :name %>
      </div>

      <div class="form-group">
        <%= f.input :description %>
      </div>

      <div class="form-group pantry">
        <%= f.input :pantry, as: :hidden %>
        <div class="toggle">
          <div class="button" id="pantry-toggle">
            <div class="inner"></div>
          </div>
          <p>pantry</p>
        </div>

        <%= f.input :fresh, as: :hidden %>
        <div class="toggle">
          <div class="button" id="fresh-toggle">
            <div></div>
          </div>
          <p>fresh</p>
        </div>
      </div>




      <div class="form-group">
        <%= f.input :thumb, as: :hidden %>
        <%= f.input :thumb_cache, as: :hidden %>
      </div>

      <div class="form-submit">
        <%= link_to "Cancel", admin_path, class: 'btn-cancel' %>

        <% if params[:action] == 'new' %>
          <%= f.button :submit, "Create", class: 'button-submit' %>
        <% else %>
          <%= f.button :submit, "Edit", class: 'button-submit' %>
        <% end %>
      </div>

    <% end %>

  </div>
</div>


